<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="~{fragments :: navigation}"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
<!--            <th>Event Address</th>-->
            <th>Event ID</th>
            <th>Edit Event</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}">Events go here!</td>
            <td th:text="${event.description}">Description here</td>
<!--            <td th:replace="~{fragments :: address}"></td>-->
            <td th:text="${event.id}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>