<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="~{fragments :: navigation}"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Contact Email</th>
            <th>Edit Event</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}">Events go here!</td>
            <td th:text="${event.eventDetails.description}">Description here</td>
            <td th:text="${event.eventCategory.name}"></td>
            <td th:text="${event.eventDetails.contactEmail}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>