<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="~{fragments :: navigation}"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getKey()}">Events go here!</td>
            <td th:text="${event.getValue()}">Description here</td>
            <td th:replace="~{fragments :: address}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>