<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<h1>Create User</h1>
<nav th:replace="~{fragments :: navigation}"></nav>
<div>
    <form method="post" action="/user/edit" th:object="${userDetails}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>First Name:
                <input type="text" th:field="*{firstName}" class="form-control">
            </label>
            <p th:errors="*{firstName}" class="error"></p>
        </div>
        <div class="form-group">
            <label>Last Name:
                <input type="text" th:field="*{lastName}" class="form-control">
            </label>
            <p th:errors="*{lastName}" class="error"></p>
        </div>
        <div class="form-group">
            <label>Display Name (if left blank, your first and last name will be used):
                <input type="text" th:field="*{displayName}" class="form-control">
            </label>
            <p th:errors="*{displayName}" class="error"></p>
        </div>
        <div class="form-group">
            <label>Email:
                <input type="email" th:field="*{emailAddress}"
                       class="form-control">
            </label>
            <p th:errors="*{emailAddress}" class="error"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Update User" class="btn btn-success">
        </div>
    </form>
</div>
</body>
</html>